language: generic

sudo: required
services:
  - docker
before_install:
  - docker build -t yuto0358/docker-react -f Dockerfile.dev .
script:
  - docker run -e CI=true yuto0358/docker-react npm run test